---
import Icon from "./Icon.astro";
import { SOCIALS } from "../utils/constants";
---

<div class="flex gap-4 mt-12 items-center justify-center">
  {
    SOCIALS.map((social) => (
      <a
        aria-label={social.name}
        class="icon-btn hover:scale-110 hover:bg-bullish-600/10"
        href={social.url}
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon id={social.icon} />
      </a>
    ))
  }
</div>